body {
    color: #111;
    background: white;
    font-family: "Hoefler Text", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.byline {
    font-size: 1.2rem;
    text-align: center;
}

.header {
    padding-top: 0;
    padding-bottom: 5rem;
}

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    max-width: 60ch;
    margin: 0 auto;
    padding: 1em;
    padding-top: 4em;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 1rem
}

a {
    color: #b97c2c;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.6s;
}

a:hover {
    color: #111;
    transition: color 0.1s;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

.choice {
    text-align: center;
    line-height: 1.5em;
    margin-top: 0.6rem
}

/* first choice */
:not(.choice) + .choice {
    margin-top: 1rem; 
}

.chosen {
    font-weight: bold;
}
